body {
	font-family: sans-serif;
	font-size: 80%;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100%; /* —овременные браузеры */
}

#header {
	color: #FFFFFF;
	font-size: 25px;
	left: 50px;
	/*border: 1px solid #333366;*/
}

#body {
	/*border: 1px solid #003366;*/
	/*background-color: #ffffff;*/
	
}

#homeNav {
	color: red;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
}

#register {
	float: right;
	color: red;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
	width: 75px;
}

#login {
	float: right;
	color: red;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
	width: 75px;
}

#logout {
	float: right;
	color: red;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
	width: 75px;
}

.add_icon {
	background-image: url(С../img/logo.pngТ) !important;
}

.goalTable {
	border-collapse: collapse;
	border-bottom: 1px solid #000000;
	width: 700px;
}

.goalTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	padding: 2px;
}

.notePanels {
	width: 700px;
}

#footer1 {
	position: relative;
	bottom: 0;
	left: 200px;
	font-size: 0.8em;
	font-family: sans-serif;
}

#head {
	font-size: 75px;
}

#logo {
	float: left;
}

li {
	list-style-type: none;
}

#button1 {
	border: 0;
}

.main_left_buttons {
	width: 200px;
}

.main_position {
	/*position: relative;
	left: 50px;*/
	
}

#left {
	float: left;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

#list_top_buttons {
	position: relative;
	left: 210px;
	width: 450px;
}

#list_left_buttons {
	float: left;
	width: 250px;
}

.list_main_area {
	width: 80%;
}

#reminder {
	float: right;
	width: 250px;
}

.calendar {
	float: left;
	width: 250px;
}

#inlineCal {
	
}

#right {
	float: right;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: left;
}

.buttons {
	position: relative;
	left: 21%;
	top: 25%;
}

.button_left {
	float: left;
	padding: 10px;
}

.button_clear {
	clear: left;
	padding: 10px;
}

.a1 {
	
}