body {
	font-family: sans-serif;
	font-size: 80%;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100%; /* Современные браузеры */
}

#header {
	color: #FFFFFF;
	font-size: 25px;
	left: 50px;
	/*border: 1px solid #333366;*/
}

#body {
	/*border: 1px solid #003366;*/
	/*background-color: #ffffff;*/
	
}

#register {
	float: right;
	color: red;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
	width: 75px;
	background: #CCFFFF;
}

#footer1 {
	position:absolute;
	bottom: 50px;
	right: 120px;
	font-size: 0.8em;
	font-family: sans-serif;
}

li {
	list-style-type: none;
}

#button1 {
	border: 0;
}

/*#button1:hover {
	border: 10px;
	outline: 4px outset #FFCCFF;
}*/
.p1 {
	position: absolute;
	left: 21%;
	top: 25%;
}

.p2 {
	position: absolute;
	left: 50%;
	top: 25%;
}

.p3 {
	position: absolute;
	left: 21%;
	top: 55%;
}

.a1 {
	
}